<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>

    <div id="page-wrapper">

        <div class="container-fluid">
            <!-- <app-root></app-root> -->
        </div>

    </div>

</div>