<form [formGroup]="forma" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-5">
        <label>Desde</label>
        <input type="date" class="form-control" formControlName="fechaDesde">
        <span class="form-invalid"
            *ngIf="forma.controls['fechaDesde'].errors?.required && forma.controls['fechaDesde'].touched">*El
            campo es requerido</span>
    </div>
    <div class="form-group col-md-5">
        <label>Hasta</label>
        <input type="date" class="form-control" formControlName="fechaHasta">
        <span class="form-invalid"
            *ngIf="forma.controls['fechaHasta'].errors?.required && forma.controls['fechaHasta'].touched">*El
            campo es requerido</span>
    </div>
    <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary" [disabled]="forma.invalid">Aceptar</button>
    </div>
</form>