<h2>Buscar socio</h2>
<hr>
<div class="row">
    <form [formGroup]="forma" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
            <div class="form-group">
                <label>Nro ID Socio</label>
                <input type="text" type="number" class="form-control" placeholder="55" name="nroSocio"
                    formControlName="valor">
                <span class="form-invalid"
                    *ngIf="forma.controls['valor'].errors?.required && forma.controls['valor'].touched">*El campo es
                    requerido</span>
            </div>
        </div>
        <div class="col-md-12">


            <button type="submit" class="btn btn-primary" [disabled]="forma.invalid">Aceptar</button>

        </div>
    </form>
</div>