<div class="row">
    <div class="col-md-12">
        <div class="white-box">

            <div class="row">
                <div class="col-md-8">
                    <button class="btn btn-primary btn-lg" routerLink="/home/datos-socio/nuevo"
                        (click)="nuevoSocio()"><i class="fas fa-user-plus"></i>&nbsp;Nuevo</button>
                </div>
                <div class="col-md-4">
                    <label>Filtrado</label>
                    <select class="form-control" (change)="options.filterParams.txt = tipoParentesco"
                        name="tipoParentesco" [(ngModel)]="tipoParentesco">
                        <option value="">Todos</option>
                        <option *ngFor="let p of arrParentesco" [value]="p.clave">{{p.valor}}</option>
                    </select>
                </div>
            </div>


            <app-grilla [options]="options" [change]="tipoParentesco"></app-grilla>
        </div>
    </div>
</div>

<app-spinner></app-spinner>