<div class="row">
    <div class="col-md-12">
        <div class="white-box">

            <app-vista-previa-bono [bonoPrevia]="bonoPrevia" (hidden)="bonoPrevia = null" *ngIf="bonoPrevia != null"></app-vista-previa-bono>
            
            <div *ngIf="bonoPrevia == null">
                <h2>Listar bonos por emisión</h2>
                <hr>
                <div class="row">
                    <form [formGroup]="forma" (ngSubmit)="onSubmit()">
                        <div class="form-group col-md-5">
                            <label>Desde</label>
                            <input type="date" class="form-control" formControlName="fechaDesde">
                            <span class="form-invalid"
                                *ngIf="forma.controls['fechaDesde'].errors?.required && forma.controls['fechaDesde'].touched">*El
                                campo es requerido</span>
                        </div>
                        <div class="form-group col-md-5">
                            <label>Hasta</label>
                            <input type="date" class="form-control" formControlName="fechaHasta">
                            <span class="form-invalid"
                                *ngIf="forma.controls['fechaHasta'].errors?.required && forma.controls['fechaHasta'].touched">*El
                                campo es requerido</span>
                        </div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary" [disabled]="forma.invalid">Aceptar</button>
                        </div>
                    </form>
                </div>
                <div class="row" *ngIf="arrBonos.length != 0">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nro.</th>
                                    <th>Emisión</th>
                                    <th>Apellido</th>
                                    <th>Nombre</th>
                                    <th>Socio N°</th>
                                    <th>Prestación</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let b of arrBonos">
                                    <td>{{b.id}}</td>
                                    <td>{{_fx.dateFormat(b.fechaEmision)}}</td>
                                    <td>{{b.apellido}}</td>
                                    <td>{{b.nombre}}</td>
                                    <td>{{b.idSocio}}</td>
                                    <td>{{b.prestacion}}</td>
                                    <td><span class="label" [ngClass]="
                                        {
                                            'label-success': b.codEstadoBono == 'cod_estado_bono_1',
                                            'label-danger': b.codEstadoBono == 'cod_estado_bono_2'
                                        }
                                        ">{{b.estado}}</span></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-ellipsis-v "></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-left">
                                                <li><a (click)="bonoPrevia = b">Reimprimir</a></li>
                                                <li *ngIf="b.codEstadoBono != 'cod_estado_bono_2'"><a (click)="anular(b.id)">Anular</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>