<div class="row">
    <div class="col-md-4 col-sm-6 login">

        <h1>Ingresar</h1>
        <hr>
        <form>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input class="form-control" type="text" id="usuario" placeholder="Ingrese usuario">
            </div>
            <div class="form-group">
                <label for="contraseña">Contraseña</label>
                <input class="form-control" type="password" id="contraseña" placeholder="Ingrese contraseña">
            </div>
            <div class="form-group form-check text-right">

                <input type="checkbox" class="form-check-input" id="recordarme">
                <label class="form-check-label" for="recordarme">&nbsp;Recordarme</label>

            </div>
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            
        </form>

    </div>
</div>