<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                    class="hide-menu">MENÚ</span></h3>
        </div>
        <ul class="nav" id="side-menu" style="padding: 70px 0 0;">

            <li class="nav-devider"></li>

            <li class="nav-small-cap">MENÚ</li>
            <li *ngFor="let m of _sidebar.menu">
                <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i
                        class="{{m.icono}}"></i>&nbsp;<span class="hide-menu">{{m.titulo}}</span></a>
                <ul aria-expanded="false" class="collapse" id="menu">
                    <li *ngFor="let submenu of m.submenu"><a [routerLink]="submenu.url">{{ submenu.titulo }} </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>