<div class="modal fade" id="modalRegister{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Datos del socio</h4>
        </div>
        <div class="modal-body" *ngIf="datos != null">
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Perfecto!</strong> Se registró el ingreso correctamente.
            </div>
            <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="estaVencido()">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Importante!</strong> El socio se encuentra con deuda.
              </div>

              <hr class="mt-4">

              <!-- <div class="panel panel-default mt-5">
                <div class="panel-heading">Datos socio</div>
                <div class="panel-body"> -->

                  <!-- <div class="row">
                    <div class="col-md-1">Nro</div>
                    <div class="col-md-3">Apellido</div>
                    <div class="col-md-3">Nombre</div>
                    <div class="col-md-2">Parentesco</div>
                    <div class="col-md-3">Tipo socio</div>
                  </div> -->
                  <div class="row">
                    <div class="col-md-1">{{datos.socio.id}}</div>
                    <div class="col-md-3">{{datos.socio.apellido}}</div>
                    <div class="col-md-3">{{datos.socio.nombre}}</div>
                    <div class="col-md-2">{{datos.socio.parentesco}}</div>
                    <div class="col-md-3">{{datos.socio.tipoAfiliado}}</div>
                  </div>

                  <hr class="mb-4">

                    <!-- <table class="table" *ngIf="datos.socio">
                        <thead>
                            <tr>
                                <th>Nro.</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Parentesco</th>
                                <th>Tipo socio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{datos.socio.id}}</td>
                                <td>{{datos.socio.apellido}}</td>
                                <td>{{datos.socio.nombre}}</td>
                                <td>{{datos.socio.parentesco}}</td>
                                <td>{{datos.socio.tipoAfiliado}}</td>
                            </tr>
                        </tbody>
                    </table> -->
                <!-- </div>
              </div> -->

              <div class="panel panel-default">
                <div class="panel-heading">Bonos activos</div>
                <div class="panel-body">

                    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="estaVencido()">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Alerta!</strong> No se encontraron bonos pendientes.
                      </div>

                    <table class="table" *ngIf="datos.bonos.length != 0">
                        <thead>
                            <tr>
                                <th>Prestación</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let b of datos.bonos">
                                <td>{{b.prestacion}}</td>
                                <td>{{_fx.dateFormat(b.fechaAsignacion)}}</td>
                                <td>{{b.horaAsignacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              

              
             
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>