<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h1>Titular</h1>
            <hr>
            <table class="table mb-5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <th>F. Nacimiento</th>
                        <th>Parentesco</th>
                        <!-- <th>Tipo afil.</th>
                        <th>Num. afil.</th> -->
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let s of arrSocios">
                        <tr *ngIf="s.parentesco == 'Titular'" class="info">
                            <th>{{s.id}}</th>
                            <td>{{s.apellido}}</td>
                            <td>{{s.nombre}}</td>
                            <td>{{s.dni}}</td>
                            <td>{{s.fechaNacimiento}}</td>
                            <td>{{s.parentesco}}</td>
                            <!-- <td>{{s.tipoAfiliado}}</td>
                            <td>{{s.nroAfiliado}}</td> -->
                            <td>{{s.activo}}</td>
                            <td><i class="fa fa-pencil"></i></td>
                        </tr>

                    </ng-container>
                </tbody>
            </table>


            <h2>Familiares</h2>
           <button class="btn btn-primary btn-sm mb-2">Nuevo</button>
            <table class="table">
                <tbody>
                    <ng-container *ngFor="let s of arrSocios">
                        <tr *ngIf="s.parentesco != 'Titular'">
                            <th>{{s.id}}</th>
                            <td>{{s.apellido}}</td>
                            <td>{{s.nombre}}</td>
                            <td>{{s.dni}}</td>
                            <td>{{s.fechaNacimiento}}</td>
                            <td>{{s.parentesco}}</td>
                            <td>{{s.activo}}</td>
                            <td><i class="fa fa-pencil"></i></td>
                        </tr>

                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>