<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h1>Titular</h1>
            <hr>
            <div class="row" *ngIf="socioTitular != null">
                <div class="col-md-2">
                    <h4 class="label-bold">Nombre: </h4>
                    <h4 class="label-bold">DNI:</h4>
                    <h4 class="label-bold">F. Nacimiento</h4>
                </div>
                <div class="col-md-4">
                    <h4>{{socioTitular.apellido +" "+ socioTitular.nombre}}</h4>
                    <h4>{{socioTitular.dni}}</h4>
                    <h4>{{_fx.dateFormat(socioTitular.fechaNacimiento)}}</h4>
                </div>
                 <div class="col-md-2">
                    <h4 class="label-bold">Tipo afiliado:</h4 >
                    <h4 class="label-bold">Estado:</h4>
                    <h4 class="label-bold">F. ingreso:</h4>
                </div>
                <div class="col-md-4">
                    <h4><span class="label label-info">{{socioTitular.tipoAfiliado +" N° "+ socioTitular.nroAfiliado}}</span></h4>
                    <h4 *ngIf="socioTitular.activo == 1"><span class="label label-success">Activo</span></h4>
                    <h4 *ngIf="socioTitular.activo == 0"><span class="label label-danger">Inactivo</span></h4>
                    <h4>{{_fx.dateFormat(socioTitular.fechaIngreso)}}</h4>
                </div>
                <div class="col-md-12 mt-3">
                    <a [routerLink]="'../../../home/datos-socio/editar/titular/' + socioTitular.id"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                    <a [routerLink]="'../../../home/vista-previa-carnet/' + socioTitular.id" *ngIf="socioTitular.codTipoSocio != 'cod_tipo_socio_3' && socioTitular.codTipoSocio != 'cod_tipo_socio_4'"><i class="fa fa-address-card ml-2"></i>&nbsp;Imprimir</a>
                    <a [routerLink]="'../../../home/emitir-bono/' + socioTitular.id"><i class="fa fa-ticket ml-2"></i>&nbsp;Emitir bono</a>
                    <a [routerLink]="'../../../home/pagos/' + socioTitular.idSocioTitular"><i class="fa fa-money-bill-wave ml-2"></i>&nbsp;Cuotas</a>
                 </div>
            </div>
        </div>

        <div class="white-box" *ngIf="
        socioTitular != null &&
        (socioTitular.codTipoSocio == 'cod_tipo_socio_1' ||
        socioTitular.codTipoSocio == 'cod_tipo_socio_2')">
            <h2>Familiares</h2>
           <a [routerLink]="'../../../home/datos-socio/nuevo/familiar/' + socioTitular.idSocioTitular" class="btn btn-primary btn-sm mb-2">Nuevo</a>
            <table class="table" *ngIf="arrFamiliares.length != 0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <th>F. Nacimiento</th>
                        <th>Parentesco</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let s of arrFamiliares">
                        <tr>
                            <th>{{s.id}}</th>
                            <td>{{s.apellido}}</td>
                            <td>{{s.nombre}}</td>
                            <td>{{s.dni}}</td>  
                            <td>{{s.fechaNacimiento}}</td>
                            <td>{{s.parentesco}}</td>
                            <td *ngIf="s.activo == 1"><span class="label label-success">Activo</span></td>
                            <td *ngIf="s.activo == 0"><span class="label label-danger">Inactivo</span></td>

                            <td>
                                <div class="btn-group">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i class="fas fa-ellipsis-v "></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a [routerLink]="'../../../home/datos-socio/editar/familiar/' + s.id" (click)="establecerParentesco()">Editar</a></li>
                                        <li><a [routerLink]="'../../../home/vista-previa-carnet/' + s.id">Imprimir carnet</a></li>
                                        <li><a [routerLink]="'../../../home/emitir-bono/' + s.id">Emitir bono</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>