<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            <h2 *ngIf="params.operacion == 'nuevo'">Nuevo Socio</h2>
            <h2 *ngIf="params.operacion == 'editar'">Editar Socio</h2>
            <hr>
            <form [formGroup]="forma" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label>Tipo afiliado</label>
                        <select class="form-control" formControlName="tipoAfiliado">
                            <option value="">Seleccione...</option>
                            <option *ngFor="let t of arrTipoAfiliado" [value]="t.clave">{{t.valor}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Número</label>
                        <input type="text" class="form-control" placeholder="Ej.: 8116" formControlName="numeroAfiliado">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Apellido</label>
                        <input type="text" class="form-control" placeholder="Ej.: Gomez" formControlName="apellido">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="Ej.: Pablo" formControlName="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label>DNI</label>
                        <input type="number" class="form-control" placeholder="Ej.: 33256985" formControlName="dni">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha Nacimiento</label>
                        <input type="date" class="form-control" formControlName="fechaNacimiento">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Parentesco</label>
                        <select class="form-control" formControlName="parentesco">
                            <option value="">Seleccione...</option>
                            <option *ngFor="let p of arrParentesco" [value]="p.clave">{{p.valor}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Celular</label>
                        <input type="number" class="form-control" formControlName="telefono">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Estado</label>
                        <select class="form-control" formControlName="activo">
                            <option value="">Seleccione...</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="forma.invalid">Aceptar</button>

            </form>
        </div>
    </div>
</div>