<h2>Vista previa</h2>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5 text-bold">Nro. Bono</div>
            <div class="col-md-7">{{bonoPrevia.bono.id}}</div>
            <div class="col-md-5 text-bold">Apellido y nombre</div>
            <div class="col-md-7">{{bonoPrevia.bono.apellido + " " + bonoPrevia.bono.nombre}}</div>
            <div class="col-md-5 text-bold">Tipo socio</div>
            <div class="col-md-7">{{bonoPrevia.bono.tipoSocio}}</div>
            <div class="col-md-5 text-bold">Parentesco</div>
            <div class="col-md-7">{{bonoPrevia.bono.parentesco}}</div>
            <div class="col-md-5 text-bold">Prestación</div>
            <div class="col-md-7">{{bonoPrevia.bono.prestacion}}</div>
            <div class="col-md-5 text-bold">Fecha asignada</div>
            <div class="col-md-7">{{_fx.dateFormat(bonoPrevia.bono.fechaAsignacion) +" "+ _fx.timeFormat(bonoPrevia.bono.horaAsignacion) + "hs."}}</div>
            <div class="col-md-5 text-bold">Monto</div>
            <div class="col-md-7">{{bonoPrevia.bono.monto}}</div>
            <div *ngIf="bonoPrevia.bono.detalle != ''">
                <div class="col-md-5 text-bold">Detalle</div>
                <div class="col-md-7">{{bonoPrevia.bono.detalle}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
       <div class="col-md-12">
           <div id="qr"></div>
       </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" (click)="makePDF()">Imprimir</button>
    </div>
</div>