<div class="row">
    <div class="col-md-10">
        <div class="white-box">

            <app-buscar-socio *ngIf="socio == null" (value)="getSocio($event)"></app-buscar-socio>
            <app-vista-previa-bono [bonoPrevia]="bonoPrevia" *ngIf="bonoPrevia != null" (hidden)="bonoPrevia = null"></app-vista-previa-bono>


            <div *ngIf="bonoPrevia == null && socio != null">

                <h2>Bono de prestación</h2>
                <hr>
                        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="estaVencido">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Importante!</strong> El socio se encuentra con deuda.
                          </div>
                <form [formGroup]="forma" (ngSubmit)="onSubmit()">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cbForm" id="inlineRadio1"
                                    value="default" formControlName="cbForm" (change)="onChangeCB()">
                                <label class="form-check-label"
                                    for="inlineRadio1">&nbsp;Automático&nbsp;&nbsp;&nbsp;</label>
                                <input class="form-check-input" type="radio" name="cbForm" id="inlineRadio2"
                                    value="manual" formControlName="cbForm" (change)="onChangeCB()">
                                <label class="form-check-label" for="inlineRadio2">&nbsp;Manual</label>
                            </div>
                        </div>  
                        <div class="col-md-4 text-right mb-4">
                            <!-- <h4 *ngIf="socio != null"><span class="label label-info">{{socio.edad}} años</span></h4> -->
                            <h4 *ngIf="socio != null"><span class="label label-info">{{socio.tipoAfiliado}}</span></h4>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Nro. Socio</label>
                            <input type="text" class="form-control" formControlName="idSocio">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Apellido</label>
                            <input type="text" class="form-control" formControlName="apellido">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Parentesco</label>
                            <select class="form-control" formControlName="codParentesco">
                                <option *ngFor="let p of arrParentesco" [value]="p.clave">{{p.valor}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Prestación</label>
                            <select class="form-control" formControlName="codPrestacion" (change)="getMonto()">
                                <option value="">Seleccione...</option>
                                <option *ngFor="let p of arrPrestaciones" [value]="p.clave">{{p.valor}}</option>
                                <span class="form-invalid"
                                    *ngIf="forma.controls['codPrestacion'].errors?.required && forma.controls['codPrestacion'].touched">*El
                                    campo es requerido</span>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Fecha asignación</label>
                            <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" class="form-control" formControlName="fechaAsignacion"
                                (blur)="calculateTarifa()">
                            </div>
                            <span class="form-invalid"
                                *ngIf="forma.controls['fechaAsignacion'].errors?.required && forma.controls['fechaAsignacion'].touched">*El
                                campo es requerido</span>
                        </div>
                        <div class="form-group col-md-3 col-sm-12">
                            <label>Hora asignación</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock"></i></span>
                                <input type="time" class="form-control" formControlName="horaAsignacion" placeholder="17:00">
                            </div>
                            <span class="form-invalid"
                                *ngIf="forma.controls['monto'].errors?.required && forma.controls['monto'].touched">*El
                                campo es requerido</span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Tarifa</label>
                            <select class="form-control" formControlName="codDia" (change)="getMonto()">
                                <option value="">Seleccione...</option>
                                <option *ngFor="let d of arrDias" [value]="d.clave">{{d.valor}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Monto</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" formControlName="monto" placeholder="0.00">
                            </div>
                            <span class="form-invalid"
                                *ngIf="forma.controls['monto'].errors?.required && forma.controls['monto'].touched">*El
                                campo es requerido</span>
                        </div>


                        <div class="form-group col-md-9">
                            <label>Descripción</label>
                            <input type="text" class="form-control" formControlName="descripcion"
                                placeholder="Debe presentarse 10 minutos antes">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary" [disabled]="forma.invalid">Aceptar</button>
                            <!-- <button type="submit" class="btn btn-primary">Aceptar</button> -->
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>